* {
	margin: 0;
	padding: 0;
}
.clearfix {
	clear: both;
}
@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  @font-face {  
    font-family:'Open Sans Light';
    src: url('../fonts/2209-webfont.woff2') format('woff2'),
         url('../fonts/2209-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/2204-webfont.woff2') format('woff2'),
         url('../fonts/2204-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'League Gothic Regular','Open Sans Light', Arial, sans-serif;
	font-size: 24px;	
}
.container {
	margin: 0 auto;
	max-width: 960px;
}
header {
	height: 777px;
	padding-top: 70px;
	background-color: #d8d8d8; 
	background: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.header__logo {
	float: left;
}
.logo {
	max-width: 152px;
	width: 100%
}
nav {
	float: right;
}	
.nav__element {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-left: 37px;	
}
.nav__iteam {
	display: block;
	color: white;
	text-shadow: 1px 1px 5px black;
	text-decoration: none;
	padding: 0 5px;
}
.nav__iteam:hover {
	border-bottom: 2px solid #edbfff;
} 
.slider {
	height: 400px;
	margin-top: 210px;
	background-color: rgba( 0, 0, 0, 0.3);
}
.slider__element {
	width: 520px;
	float: left;
}
.slider__header {
	color: white;
	font-size: 60px;
	padding-top: 70px;	
}
.slider__element h3 {
	font-size: 32px;
	color: #edbfff;
	margin-top: -10px;
	margin-left: -1px;
}
.slider__element p {
	font-size: 18px;
	font-family: 'Open Sans Light';
	color: white;
	margin-top: 2px;
}
.telephone {
	float: right;
	margin-right: 75px;
	margin-top: -20px;
}
aside {
	height: 341px;
	background: rgba(117,81,131,1);
	background: -moz-linear-gradient(top, rgba(117,81,131,1) 0%, rgba(55,42,62,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(117,81,131,1)), color-stop(100%, rgba(55,42,62,1)));
	background: -webkit-linear-gradient(top, rgba(117,81,131,1) 0%, rgba(55,42,62,1) 100%);
	background: -o-linear-gradient(top, rgba(117,81,131,1) 0%, rgba(55,42,62,1) 100%);
	background: -ms-linear-gradient(top, rgba(117,81,131,1) 0%, rgba(55,42,62,1) 100%);
	background: linear-gradient(to bottom, rgba(117,81,131,1) 0%, rgba(55,42,62,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#755183', endColorstr='#372a3e', GradientType=0 );
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: block;
}
.row {
	font-size: 0;
}
.left_col {
	width: 214px;
	margin-top: 72px;
	display: inline-block;
	vertical-align: top;
	margin-left: 63px;
}
.left_col:before {
	content: " ";
	float: left;
	display: block; 
	width: 30px;
	height: 31px;
	background: url(../img/slider.png) no-repeat -2px 0;
	margin: 9px 4px 0 -56px; 
}
.col__title {
	font-size: 30px;
	color:white;
	text-shadow: 1px 1px 2px black;
}
.col__item {
	color: white;
	font-size: 16px;
	font-family: 'Open Sans Light';
	text-shadow: 1px 1px 2px black;
	margin-top: 6px;
	display: block;
}
.row a
{
	font-size: 18px;
	color: white;
	text-align: right;
	display: block;
	text-decoration: none;
}
.row a:hover {
	text-shadow: 1px 1px 10px white;
}
.center_col {
	width: 214px;
	margin-top: 72px;
	display: inline-block;
	vertical-align: top;
 	margin-left: 125px;
}
.center_col:before {
	content: " ";
	float: left;
	display: block; 
	width: 33px;
	height: 29px;
	background: url(../img/slider.png) no-repeat 0 -48px;
	margin: 9px 4px 0 -56px; 
}
.right_col {
	width: 214px;
	margin-top: 72px;
	display: inline-block;
	vertical-align: top;
	margin-left: 125px;
}
.right_col:before {
	content: " ";
	float: left;
	display: block; 
	width: 29px;
	height: 31px;
	background: url(../img/slider.png) no-repeat -2px -92px;
	margin: 9px 4px 0 -56px; 
}
main {height: 488px;
	background-color: #f9f9f9;
	border-bottom: 1px solid black;
}
.content {
	padding-top: 100px;
}
.box {
	display: inline-block;
	vertical-align: top;
}
.left_colom {
	width: 448px;
	background-color: white;
    padding-top: 30px;
    
    margin-left: 22px;
    
}
.left_colom__title {
	font-size: 30px;
	color:black;
	margin-left: 38px;
	margin-top: -5px;
}
.left_colom__title span {
	color: #edbfff;
}
.left_colom p {
	color: black;
	font-size: 16px;
	font-family: 'Open Sans Light';
	margin-top: 6px;
	padding-right: 55px;
	margin-left: 32px;
	padding-bottom: 20px;
}
.left_colom:before {
	content: " ";
	float: left;
	display: block; 
	width: 50px;
	height: 51px;
	background: url(../img/foto.png) no-repeat;
	margin:-10px 0 0 -22px;
}
.right_colom {
	display: inline-block;
	vertical-align: top;
	margin-left: 35px;
    margin-top: 22px;
}
.right_colom p {
	color:black;
	font-size: 30px;
}
.right_colom__element {
	list-style: none;
	margin-top: 10px;
}	
.right_colom__element a{
	color: black;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Open Sans Bold';
}
.right_colom__element p {
	font-family: 'Open Sans Light';
	font-size: 16px;
	color: black;
}
.right_colom__item1:before {
	content: " ";
	float: left;
	display: block; 
	width: 49px;
	height: 49px;
	background: url(../img/sprite2.png) no-repeat;
	margin-right: 20px;
}
.right_colom__item2:before {
	content: " ";
	float: left;
	display: block; 
	width: 49px;
	height: 49px;
	background: url(../img/sprite2.png) no-repeat 0 -67px;
	margin-right: 20px;
}
.right_colom__item3:before {
	content: " ";
	float: left;
	display: block; 
	background: url(../img/sprite2.png) no-repeat 0 -131px;
	width: 49px;
	height: 49px;
	margin-right: 20px;
}
.partners {
	text-align: center;
	background-color: #f9f9f9;
	padding: 0 90px;
}

.partners img {
	display: inline-block;
	margin-top: 20px;
	margin-right: 65px;
	vertical-align: middle;
	margin-bottom: 80px;


}








@media(max-width:767px) {
	.container {
		padding: 0 15px;
	}
	.col {
		width: 100%;
		margin-bottom: 30px;
	}
	.logo {
		margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}