*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'Lucida Sans Unicode Regular';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: Arial, Tahoma, Lucida Sans Unicode Regular, sans-serif;
}
.conteiner {
	width: 910px;
	margin: 0 auto;
}



							/*---------HEADER---------*/



.top_header {
	height: 27px;
	margin: 17px 0 11px 0;
}
.contacts {
	width: 314px;
	float: left;
}
.contacts p {
	font-size: 19px;
	color: #5e696d;
	display: inline-block;
	margin-top: 5px;
}
.contacts:before {
	content: " ";
	float: left;
	display: block; 
	height: 22px; 
	width: 21px;
	background: url(../img/telephone.png) no-repeat;
	margin: 8px 4px 0 6px; 
}
.reg_block {
	height: 27px;
	width: 488px;
	border-radius: 4px;
	display: inline-block;
	float: left;
	margin-top: 2px;
	padding-left: 7px;
	background: rgba(31,102,133,1);
	background: -moz-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,102,133,1)), color-stop(100%, rgba(12,51,87,1)));
	background: -webkit-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -o-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: linear-gradient(to bottom, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6685', endColorstr='#0c3357', GradientType=0 );
	-webkit-box-shadow: 2px 2px 3px #969696;
    -moz-box-shadow: 2px 2px 3px #969696;
	box-shadow: 2px 2px 3px #969696;
}
.input_text {
	height: 15px;
	width: 105px;
	font-family: Lucida Sans Unicode Regular;
	font-size: 11px;
	padding-left: 5px;
	margin-left: 5px;
}
.reg_block:before {
	content: " ";
	float: left;
	display: block; 
	height: 18px; 
	width: 14px;
	background: url(../img/reg.png) no-repeat;
	margin-top: 4px;
}
.login_button,
.reg_button {
	height: 24px;
	line-height: 24px;
	font-size: 11px;
	background: rgba(31,102,133,1);
	background: -moz-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,102,133,1)), color-stop(100%, rgba(12,51,87,1)));
	background: -webkit-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -o-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: linear-gradient(to bottom, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6685', endColorstr='#0c3357', GradientType=0 );
	-webkit-box-shadow: 2px 2px 3px #969696;
    -moz-box-shadow: 2px 2px 3px #969696;
	border: 0;
	color: white;
	font-family: Lucida Sans Unicode Regular;
}
.password_button {
	height: 24px;
	line-height: 24px;
	background: rgba(31,102,133,1);
	background: -moz-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,102,133,1)), color-stop(100%, rgba(12,51,87,1)));
	background: -webkit-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -o-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: linear-gradient(to bottom, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6685', endColorstr='#0c3357', GradientType=0 );
	-webkit-box-shadow: 2px 2px 3px #969696;
    -moz-box-shadow: 2px 2px 3px #969696;
	border: 0;
	font-family: Lucida Sans Unicode Regular;
	color: #bfbfbf;
	font-size: 12px;
	float: right;
	margin-right: 8px;
	text-decoration: underline;
}
.top_menu {
	width: 77px;
	border-radius: 14px;
	border: 1px solid #bdc4c7;
	float: right;
	-webkit-box-shadow: 1px 1px 3px #969696;
    -moz-box-shadow: 1px 1px 3px #969696;
    box-shadow: 1px 1px 3px #969696;
   	text-align: center;
   	margin-right: 8px;
   	margin-top: 4px;
}
.top_menu a{
	margin-right: 3px;
}
.baner {
	height: 237px;
	background: url(../img/background.jpg);
}
.header_menu {
	height: 34px;
	border-radius: 5px;
	margin-top: 6px;
	margin-bottom: 12px;
	background: rgba(80,88,96,1);
	background: -moz-linear-gradient(top, rgba(80,88,96,1) 0%, rgba(1,1,1,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,88,96,1)), color-stop(100%, rgba(1,1,1,1)));
	background: -webkit-linear-gradient(top, rgba(80,88,96,1) 0%, rgba(1,1,1,1) 100%);
	background: -o-linear-gradient(top, rgba(80,88,96,1) 0%, rgba(1,1,1,1) 100%);
	background: -ms-linear-gradient(top, rgba(80,88,96,1) 0%, rgba(1,1,1,1) 100%);
	background: linear-gradient(to bottom, rgba(80,88,96,1) 0%, rgba(1,1,1,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505860', endColorstr='#010101', GradientType=0 );
	-webkit-box-shadow: 2px 2px 3px #969696;
    -moz-box-shadow: 2px 2px 3px #969696;
    box-shadow: 2px 2px 3px #969696;
}
nav {
	text-align: center;
	float: left;
	font-family: Lucida Sans Unicode Regular;
	margin-left: 125px;
}
nav li {
	height: 34px;
	line-height: 34px;
	font-family: Lucida Sans Unicode Regular;
	font-size: 14px;
	margin-right: -23px;
	display: inline-block;
	list-style: none;
}
nav a {
	text-decoration: none;
	color: #929b9f;
	padding: 0 22px 0 22px;
}
nav a:hover {
	border-radius: 7px;
	color: white;
	background: rgba(31,101,133,1);
	background: -moz-linear-gradient(top, rgba(31,101,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,101,133,1)), color-stop(100%, rgba(12,51,87,1)));
	background: -webkit-linear-gradient(top, rgba(31,101,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -o-linear-gradient(top, rgba(31,101,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,101,133,1) 0%, rgba(12,51,87,1) 100%);
	background: linear-gradient(to bottom, rgba(31,101,133,1) 0%, rgba(12,51,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6585', endColorstr='#0c3357', GradientType=0 );
}
.korzina {
	height: 34px;
	width: 228px;
	float: right;
}
.korzina span {
	color: #0d5a8f;
	font-size: 12px;
	margin-left: 3px;
}
.korzina:before {
	height: 17px; 
	width: 21px;
	margin-top: 8px;
	margin-right: 6px;
	content: " ";
	float: left;
	display: block; 
	background: url(../img/korzina.png) no-repeat;
}
.tovar, 
.symma {
	line-height: 34px;
	font-size: 11px;
	margin-right: 5px;
	color: #929b9f; 
	display: inline-block;
}
.symma {
	margin-left: 6px;
}
.symma span {
	text-align: right;
}



						/*---------CONTENT---------*/



						/*---------SEARCH_FORM---------*/



.clearfix {
	clear: both;
}
.search {
	margin-bottom: 19px;
	margin-left: 3px;
	height: 133px;
}
.left_form {
	width: 414px;
	height: 133px;
	border: 1px solid #bdc4c7;
	border-radius: 18px;
	box-shadow: 2px 2px 3px #969696;
	float: left;
	display: block;
}
/*
.left_form h5 {
	font-size: 12px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #154467;
	text-align: center;
}
.select_element {
	width: 177px;
	display: inline-block;
	position: relative;
	margin-left: 18px;
}
.select_element p { 
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 10px;
	width: 71px;
}
.select_element p:nth-child(3n+1) {
margin-top: -3px;
}
.select_element span {
	font-size: 8px;
	position: absolute;
	left:0;
	margin-top: 12px;
	color: #77858b;
}
.select_element select {
	display: inline-block;
	vertical-align: middle;
	height: 17px;
	width: 101px;
	border-bottom: 0px;
	font-size: 11px;
}
.shini {
	right: 0;
	font-size: 10px;
	font-weight: bold;
	color: #154467;
	position: absolute;
	top: -20px;
}
.diski {
	left:0;
	font-size: 10px;
	font-weight: bold;
	color: #154467;
	position: absolute;
	top: -20px;
}
.select_element2 {
	width: 177px;
	display: inline-block;
	position: relative;
	margin-left: 22px;
}
.select_element2 p { 
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	font-size: 10px;
	width: 71px;
}
.select_element2 p:nth-child(3n+1) {
margin-top: -3px;
}
.select_element2 span {
	font-size: 8px;
	position: absolute;
	left:0;
	margin-top: 12px;
	color: #77858b;
}
.select_element2 select {
	display: inline-block;
	vertical-align: middle;
	height: 17px;
	width: 101px;
	border-bottom: 0px;
	font-size: 11px;
}
.search_button {
	background-color: white;
	float:right;
	border: none;
	margin-top: 5px;
	margin-right: 20px;
	color: #154467;
	text-decoration: underline;
	font-style: italic;
	font-size: 14px;
}
*/
.center_form {
	width: 193px;
	height: 133px;
	border: 1px solid #bdc4c7;
	border-radius: 12px;
	box-shadow: 2px 2px 3px #969696;
	margin-left: 13px;
	position: relative;
	float: left;
	display: block;
}
/*
.center_form h5 {
	font-size: 12px;
	margin-bottom: 5px;
	margin-left: 10px;
	font-weight: bold;
	color: #154467;
}
.shini_select_element {
	width: 190px;
	display: inline-block;
	position: relative;
	margin-left: 14px;
}
.shini_select_element p {
	height: 17px; 
	line-height: 17px;
	width: 41px;
	display: inline-block;

	font-weight: bold;
	font-size: 10px;
}
.shini_select_element p span {
	height: 13px; 
	line-height: 17px;
	font-size: 11px;
	text-align: right;
	width: 38px;
	display: block;
	margin-top: -3px;
}
.shini_select_element select {
	display: inline-block;
	vertical-align: middle;
	height: 17px;
	width: 50px;
	border-bottom: 0px;
	font-size: 11px;
	margin-bottom: 8px;
}
.size:after {

}
.season p {
	top: -35px;
}
.season ul {
	margin-left: 40px;
	margin-top: -17px;
}
.season li {
	font-size: 10px;
	font-family: Lucida Sans Unicode Regular;
	list-style: none;
}
*/
.right_form {
	float: left;
	width: 263px;
	height: 133px;
	margin-left: 9px;
	border: 1px solid #bdc4c7;
	border-radius: 18px;
	box-shadow: 2px 2px 3px #969696;
	display: block;
}
.clearfix {
	clear: both;
}



						/*---------MAIN---------*/



						/*---------LEFT_ASIDE---------*/



.left_colom {
	width: 184px;
	float: left;
	color: #114165;
	margin-left: 1px;
	margin-right: 5px;
}
.left_colom__header {	
	height: 25px;
	line-height: 25px;
	width: 178px;
	font-size: 12px;
	color: #114165;
	border-radius: 13px;
	font-family: Lucida Sans Unicode Regular;
	border: 1px solid #bdc4c7;
	-webkit-box-shadow: 1px 1px 3px #969696;
    -moz-box-shadow: 1px 1px 3px #969696;
    box-shadow: 1px 1px 3px #969696;
    margin-top: 2px;
    margin-bottom: 15px;
}
.left_colom__header:before {
	height: 21px; 
	width: 22px;
	margin: 2px 3px 0 1px; 
	content: " ";
	float: left;
	display: block; 
	background: url(../img/ic_katalog.png) no-repeat;
}
.left_colom li {
	list-style: circle; 
	margin: 0px 0 10px 47px;
	font-size: 13px;
	height: 16px;
}
.left_colom li:first-child {
	height: 24px;
	width: 148px;
	line-height: 24px;
	border-radius: 14px;
	border: 1px solid #79878d;
	font-size: 14px;
	margin: -3px 0 2px 0;
	-webkit-box-shadow: 1px 1px 3px #969696;
    -moz-box-shadow: 1px 1px 3px #969696;
    box-shadow: 1px 1px 3px #969696;
    list-style: none;
    color: #114165;
}
.left_colom li:first-child:before {
	line-height: 23px;
	height: 23px; 
	width: 23px;
	margin: 0px 0 5px 3px; 
	padding-right: 2px;
	content: " ";
	float: left;
	background: url(../img/disk.png) no-repeat;
}
.left_colom a {
	color: #465961;
	text-decoration: none;
	font-family: Lucida Sans Unicode Regular;
	margin-left: -2px;
}
.left_colom a:hover {
	font-size: 14px;
	font-family: Lucida Sans Unicode Regular;
	text-decoration: underline;
	font-style: italic;
	font-weight: bold;
}



						/*---------ARTICLE---------*/



article {
	width: 507px;
	border-radius: 4px;
	padding: 0 0 20px 21px;
	margin: 0 auto;
	float: left;
	background: rgba(228,231,232,1);
	background: -moz-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,231,232,1)), color-stop(100%, rgba(147,167,176,1)));
	background: -webkit-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: -o-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: -ms-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: linear-gradient(to bottom, rgba(228,231,232,1) 0%, rgba(147,167,176,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e8', endColorstr='#93a7b0', GradientType=0 );
}
figure {
	width: 138px;
	display: inline-block;
	margin-right: 26px;

}
figcaption {
	font-size: 15px;
	color: #206988;
	text-align: center;
	font-family: Lucida Sans Unicode Regular;
	margin-top: 8px;
}
figcaption span {
	font-size: 13px;
	color: #1f2528;
	display: block;
	text-align: center;
	margin-top: -8px;
}
.image {
	text-align: center;
	font-style: italic;
	font-weight: bold;
	color: #114165;
	font-family: Arial;
	font-size: 16px;
	margin-bottom: 11px;
}
.image img {
	border-radius: 8px;
	border: 1px solid #a4aeb1;
	display: block;
	margin-top: -4px;
}
.image span {
	font-style: italic;
	font-weight: bold;
	color: #114165;
	font-family: Arial;
	font-size: 12px;
}



						/*---------RIGHT_ASIDE---------*/



.right_colom {
	width: 184px;
	float: right;
	color: #114165;
}
.right_colom__header {	
	height: 25px;
	line-height: 25px;
	width: 178px;
	font-size: 14px;
	color: #114165;
	border-radius: 6px;
	font-family: Lucida Sans Unicode Regular;
	border: 1px solid #bdc4c7;
	-webkit-box-shadow: 1px 1px 3px #969696;
    -moz-box-shadow: 1px 1px 3px #969696;
    box-shadow: 1px 1px 3px #969696;
    margin-bottom: 15px;
}
.right_colom__header:before {
	height: 23px; 
	width: 23px;
	margin: 0px 3px 0 2px; 
	content: " ";
	float: left;
	display: block; 
	background: url(../img/ic_katalog2.png) no-repeat;
}
.brand_select ul {
	margin-left: 15px;
}
.brand_select li:first-child {
	height: 24px;
	width: 133px;
	line-height: 24px;
	border-radius: 14px;
	border: 1px solid #79878d;
	font-size: 14px;
	margin: 6px 0 5px 0;
	-webkit-box-shadow: 1px 1px 3px #969696;
    -moz-box-shadow: 1px 1px 3px #969696;
    box-shadow: 1px 1px 3px #969696;
    list-style: none;
    color: #114165;
}
.brand_select li:first-child:before {
	line-height: 23px;
	height: 23px; 
	width: 23px;
	margin: 0px 0 5px 3px; 
	padding-right: 2px;
	content: " ";
	float: left;
	background: url(../img/disk.png) no-repeat;
}
.brand_select li {
	list-style: none; 
	margin-left: 7px;
	margin-bottom: 3px;
}
.brand_select span{
	font-family: Lucida Sans Unicode Regular;
	font-size: 13px;
	margin-left: 10px;
}
.brand_select li:last-child {
	margin-bottom: 10px;
}
.select {
	height: 28px;
	width: 78px;
	line-height: 28px;
	font-size: 11px;
	background: rgba(31,102,133,1);
	background: -moz-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,102,133,1)), color-stop(100%, rgba(12,51,87,1)));
	background: -webkit-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -o-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	background: linear-gradient(to bottom, rgba(31,102,133,1) 0%, rgba(12,51,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6685', endColorstr='#0c3357', GradientType=0 );
	-webkit-box-shadow: 2px 2px 3px #969696;
    -moz-box-shadow: 2px 2px 3px #969696;
	border: 0;
	color: white;
	border-radius: 12px;
	margin-left: 25px;
	margin-top: 12px;
	text-align: center;
}

		
						/*---------PARTNERS---------*/



.partners {
	margin: 0 auto;
	width: 730px;
}
.partners img {
	vertical-align: top;
	margin-left: 14px;
	margin-top: 40px;
	margin-bottom: 24px;
}



						/*---------FOOTER---------*/
footer {
	height: 100px;
	background: #213a4d;
}
footer ul {
	padding-top: 5px;
	text-align: center;
}
footer li {
	display: inline-block;
	list-style: none;
	border-right: 2px solid #bec6c9;
	height:12px;
	padding-right: 10px;
	line-height: 12px;
	margin-right: 10px;
}
footer li:last-child {
	border:none;
}
footer a {
	line-height: 12px;
	font-size: 12px;
	text-decoration: none;
	color: #bec6c9;
}
footer a:hover {
	color: #52abcb;
}
footer p {margin-top: 11px;
	text-align: center;
	color: #7f4740;
	font-size: 10px;
}