table {
	border-collapse: collapse;
}

td,tr {
	border:3px solid black;
	height: 20px;
	width: 40px;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;
}
.black {
	background-color: black;
}
.blue {
	background-color: blue;
}